h1.title {
  margin: 0;
  color: #666;
  font-size: 1.5em;
  padding-top: 40px;
  text-align: center;
}

a.scraping-history-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

h1.scraping-history-title {
  font-size: 2rem;
}

section.article-section a {
  color: #000;
  text-decoration: none;
}